body {
  font-family: sans-serif;
  padding: 20px;
  margin: 30px auto;
  max-width: 600px;
  border: 1px solid;
  border-color: grey;
  border-radius: 5px;
  height: 300px;
  box-sizing: border-box;
}

h1 {
  font-family: "Fasthand", cursive;
  color: #6d6e71;
}

ul {
  margin-top: 10px;
}
li {
  list-style-type: none;
  font-family: "Nunito Sans", sans-serif;
}

#degrees {
  margin-top: 30px;
  font-size: 55px;
}

small {
  position: fixed;
  bottom: 20px;
  font-family: "Nunito Sans", sans-serif;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none !important;
}

.active:hover {
  text-decoration: none !important;
}
