body {
  font-family: sans-serif;
  margin: 30px auto;
  max-width: 600px;
  border: 1px solid;
  border-color: grey;
  border-radius: 10px;
  height: 500px;
  box-sizing: border-box;
  background-image: url("sky.jpg");
}

h1 {
  font-family: "Fasthand", cursive;
  color: #6d6e71;
  margin-top: 15px;
}

ul {
  margin-top: 10px;
}
li {
  list-style-type: none;
  font-family: "Nunito Sans", sans-serif;
}

#degrees {
  margin-top: 30px;
  font-size: 55px;
}

small {
  position: fixed;
  bottom: 20px;
  font-family: "Nunito Sans", sans-serif;
  color: black;
}

.forecast {
  margin-top: 35px;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}
.forecast-degrees {
  font-size: 16px;
}
.minimum {
  color: #6d6e71;
}
.container {
  background-color: rgb(208, 163, 207, 0.7);
  height: 100%;
  padding: 20px;
}
